#whole-site {margin: 15px 10px 15px 10px; border: 10px solid rgb(150, 0, 0); padding: 20px}
        body{
            background-color: rgb(242, 238, 12);
          font-family: sans-serif; font-size: 20px;
          line-height: 1.5em;
        }
        .LM {color: green
}
        .Brazil-photos {
          text-align: center;
}
          .Brazil-photos img {margin: 20px;}
       .sand-photo {float: left; margin-right: 20px; margin-bottom: 20px; margin-left: 20px;}
        h1{
            color: rgb(5, 13, 166); font-size: 3em; text-align: center
        }
        h2{
            color: rgb(125, 85, 4); font-size: 2em; text-align: center; 
        }
        h4{
            color: rgb(125, 85, 4); font-size: 2em; text-align: center; text-decoration: underline;
}
        p{
            color: rgb(100, 29, 65);
        }
        .extra-info{
            
          border-top: 1px solid orange;
                border-bottom: 1px solid orange;
                padding-top: 6px;
                padding-bottom: 6px;
        }
        #when-to-go{
            background: rgb(50, 199, 197);
           text-align: center;
        }
#food-flavour {background:salmon; color:white; margin: 15px}
#see {text-align: left; clear: both;
            }